.div-3{
  width: 480px;
}
.div-5{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  gap: 30px;
}
.div-10{
  -webkit-box-shadow: 2px 2px 11px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 11px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 11px 3px rgba(34, 60, 80, 0.2);
}
.div-9{
  display: flex;
  align-items: center;
}
.div-11{
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.div-6{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-7{
  width: 561px;
  padding: 0;
  

}
.div-8{
  width: 50%;
  padding: 0 ;
}
.div-12{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}
.div-15 :hover{
  -webkit-box-shadow: 0px 2px 100px 100px rgba(5, 31, 237, 0.2);
-moz-box-shadow: 0px 2px 100px 100px rgba(5, 31, 237, 0.2);
box-shadow: 0px 2px 100px 100px rgba(5, 31, 237, 0.2);
}
.div-17{
  width: 50%;
}

@media (max-width: 681px){
  .div-17{
    width: 100%;
  }
.div-1{
  display: none;
}
.div-2{
  display: none;
}
.div-3{
  width: 100%;
}
}
@media (max-width: 887px){
  .div-12{
    justify-content: center;
    gap: 20px;
  }
  .div-5{
    justify-content:center;
  }
}
@media (max-width: 1100px){
  .div-11{
    display: flex;
    flex-direction: column-reverse;
  }
  .div-10{
    margin-left: 2%;
  }
  .div-6{
    flex-direction:column; 
  } 
 .div-16{
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
 }
  .div-8{
    width: 561px;
  }
  .div-2{
    display: none;
  }
}
@media (max-width: 714px){
.div-0{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}
.div-7{
  width: 88%;
}
.div-6{
  margin-bottom: 2%;
}
.div-8{
  width: 88%;
}
.div-9{
  flex-direction: column;
  align-items: start;
}
.div-4{
margin: 20px 0;
}
.div-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}
}